<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A Composable Module with View</string>
	<key>Summary</key>
	<string>Composable Module</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array/>
	<key>DefaultCompletionName</key>
	<string>Module Name</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Options</key>
	<array>
	  <dict>
	    <key>Identifier</key>
	    <string>productName</string>
	    <key>Required</key>
	    <true/>
	    <key>Name</key>
	    <string>Module Name:</string>
	    <key>Description</key>
	    <string>The name of the Composable Module</string>
	    <key>Type</key>
	    <string>text</string>
	    <key>Default</key>
	    <string>Module</string>
	  </dict>
	</array>
</dict>
</plist>
